.root{
    -fx-background-color: #3f3f3f;
}

.label{
    -fx-text-fill: #ffffff;
}

/* Define el color de las letras del texto que acompaña a la checkbox*/
.tickBox{
    -fx-text-fill: #ffffff;
}

/* Define el color del tick de la checkbox */
.tickBox:selected .mark {
    -fx-background-color: #ffffff;
}

/* Define el color de la checkbox y le quita los bordes*/
.tickBox *.box{
    -fx-text-fill: #ffffff;
    -fx-background-color: #333333;
    -fx-background-radius: 0;
}

.textField{
    -fx-text-fill: #ffffff;
    -fx-background-color: #333333;
    -fx-background-radius: 0;
}

.convertButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: #2c4cff;
    -fx-background-radius: 0;
}

.clearButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: #333333;
    -fx-background-radius: 0;
}

.exitButton{
    -fx-text-fill: #ffffff;
    -fx-background-color: #333333;
    -fx-background-radius: 0;
}

.separator:horizontal .line {
    -fx-border-color: transparent transparent transparent transparent;
}

.separator{
    -fx-background-color: #333333;
    -fx-background-radius: 5;
    -fx-border-color: transparent transparent transparent transparent;
}

/* Define el color de los numeros del slider */
.slider .axis{
    -fx-tick-label-fill: #ffffff;
}

/* Define el color de la bolita que movemos */
.slider .thumb{
    -fx-background-color: #333333;
}

/* Define el color de la barra */
.slider .track{
    -fx-background-color: #4a4a4a;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: #616161;
    -fx-table-cell-border-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}*